		@include breakpoint('<=xsmall') {
			html, body {
				min-width: 320px;
			}
		}

		body.is-preload-0 {
			*, *:before, *:after {
				@include vendor('animation', 'none !important');
				@include vendor('transition', 'none !important');
			}
		}

		html {
			box-sizing: border-box;
		}

		*, *:before, *:after {
			box-sizing: inherit;
		}

	html, body {
		background-color: _palette(page-bg);
		overflow: hidden;
	}